* {
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content-header {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 0.5rem;
}

.btn-container {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-top: 0.5rem;
}

.primary-btn {
    background-color: black;
    color: white;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    width: 100%;
}

.secondary-btn {
    margin-top: 0.6rem;
    background-color: white;
    color: black;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
    width: 100%;
}

button i {
    font-size: 20px;
}

.main {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

.main-text {
    width: 50%;
    padding: 1rem;
}

.main-image {
    width: 50%;
}

form {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
}

.input-group input {
    padding: 0.6rem 1rem;
    margin-bottom: 1rem;
    outline: none;
    width: 92%;
}

.input-group {
    position: relative;
}

.input-group label {
    position: absolute;
    top: -12px;
    left: 10px;
    background-color: #fff;
    padding: 0.1rem 0.6rem;
}

.input-group textarea {
    resize: none;
    outline: none;
    width: 95%;
    padding: 0.2rem 0.6rem;
    font-size: 18px;
    margin-bottom: 0.3rem;
}