*{
  margin: 0px;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  font-family: cursive;
  background-color: lightseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
}